<div class="container">
  <img
    src="https://i0.wp.com/anitrendz.net/news/wp-content/uploads/2023/04/giji-harem_visual-1-e1681115615219.jpg"
    alt="banner"
  />
</div>

<style>
  .container {
    display: flex;
    background-color: #2e3440;
    border-radius: 10px;
    justify-content: center;
    width: 100%;
  }
  .container img {
    height: 300px;
    width: 100%;
    border-radius: 10px;
    align-self: center;
    margin: 10px;
  }
</style>
