<link
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
  rel="stylesheet"
/>

<div class="page">
  <div class="sidebar">
    <ul class="sidebar-links">
      <li>
        <a href="#">
          <i class="material-symbols-outlined">home</i>Home
        </a>
      </li>

      <li>
        <a href="#">
          <i class="material-symbols-outlined">tv</i>TV
        </a>
      </li>

      <li>
        <a href="#">
          <i class="material-symbols-outlined">movie</i>Movies
        </a>
      </li>

      <li>
        <a href="#">
          <i class="material-symbols-outlined">subscriptions</i>Anime
        </a>
      </li>

      <li>
        <a href="#">
          <i class="material-symbols-outlined">book</i>Manga
        </a>
      </li>

      <li>
        <a href="#">
          <i class="material-symbols-outlined">sports_esports</i>Games
        </a>
      </li>

      <li>
        <a href="#">
          <i class="material-symbols-outlined">book</i>Profile
        </a>
      </li>

      <li>
        <a href="#">
          <i class="material-symbols-outlined">settings</i>Settings
        </a>
      </li>
    </ul>
  </div>

  <div class="main-content">
    <div class="grid">
      <div class="card">
        <a href="/details/tmdb/tv/615/futurama">
          <img
            class="card-img poster lazyloaded"
            data-src="https://image.tmdb.org/t/p/w500/sdJcX2cXirwQurLLlrDLYov7hcD.jpg"
            data-expand="1000"
            alt="Futurama"
            src="https://image.tmdb.org/t/p/w500/sdJcX2cXirwQurLLlrDLYov7hcD.jpg"
          />
        </a>
      </div>
      <div class="card">
        <a href="/details/tmdb/tv/615/futurama">
          <img
            class="card-img poster lazyloaded"
            data-src="https://image.tmdb.org/t/p/w500/sdJcX2cXirwQurLLlrDLYov7hcD.jpg"
            data-expand="1000"
            alt="Futurama"
            src="https://image.tmdb.org/t/p/w500/sdJcX2cXirwQurLLlrDLYov7hcD.jpg"
          />
        </a>
      </div>
      <div class="card">
        <a href="/details/tmdb/tv/615/futurama">
          <img
            class="card-img poster lazyloaded"
            data-src="https://image.tmdb.org/t/p/w500/sdJcX2cXirwQurLLlrDLYov7hcD.jpg"
            data-expand="1000"
            alt="Futurama"
            src="https://image.tmdb.org/t/p/w500/sdJcX2cXirwQurLLlrDLYov7hcD.jpg"
          />
        </a>
      </div>
      <div class="card">
        <a href="/details/tmdb/tv/615/futurama">
          <img
            class="card-img poster lazyloaded"
            data-src="https://image.tmdb.org/t/p/w500/sdJcX2cXirwQurLLlrDLYov7hcD.jpg"
            data-expand="1000"
            alt="Futurama"
            src="https://image.tmdb.org/t/p/w500/sdJcX2cXirwQurLLlrDLYov7hcD.jpg"
          />
        </a>
      </div>
      <div class="card">
        <a href="/details/tmdb/tv/615/futurama">
          <img
            class="card-img poster lazyloaded"
            data-src="https://image.tmdb.org/t/p/w500/sdJcX2cXirwQurLLlrDLYov7hcD.jpg"
            data-expand="1000"
            alt="Futurama"
            src="https://image.tmdb.org/t/p/w500/sdJcX2cXirwQurLLlrDLYov7hcD.jpg"
          />
        </a>
      </div>
      <div class="card">
        <a href="/details/tmdb/tv/615/futurama">
          <img
            class="card-img poster lazyloaded"
            data-src="https://image.tmdb.org/t/p/w500/sdJcX2cXirwQurLLlrDLYov7hcD.jpg"
            data-expand="1000"
            alt="Futurama"
            src="https://image.tmdb.org/t/p/w500/sdJcX2cXirwQurLLlrDLYov7hcD.jpg"
          />
        </a>
      </div>
      <div class="card">
        <a href="/details/tmdb/tv/615/futurama">
          <img
            class="card-img poster lazyloaded"
            data-src="https://image.tmdb.org/t/p/w500/sdJcX2cXirwQurLLlrDLYov7hcD.jpg"
            data-expand="1000"
            alt="Futurama"
            src="https://image.tmdb.org/t/p/w500/sdJcX2cXirwQurLLlrDLYov7hcD.jpg"
          />
        </a>
      </div>
      <div class="card">
        <a href="/details/tmdb/tv/615/futurama">
          <img
            class="card-img poster lazyloaded"
            data-src="https://image.tmdb.org/t/p/w500/sdJcX2cXirwQurLLlrDLYov7hcD.jpg"
            data-expand="1000"
            alt="Futurama"
            src="https://image.tmdb.org/t/p/w500/sdJcX2cXirwQurLLlrDLYov7hcD.jpg"
          />
        </a>
      </div>
      <div class="card">
        <a href="/details/tmdb/tv/615/futurama">
          <img
            class="card-img poster lazyloaded"
            data-src="https://image.tmdb.org/t/p/w500/sdJcX2cXirwQurLLlrDLYov7hcD.jpg"
            data-expand="1000"
            alt="Futurama"
            src="https://image.tmdb.org/t/p/w500/sdJcX2cXirwQurLLlrDLYov7hcD.jpg"
          />
        </a>
      </div>
      <div class="card">
        <img
          class="card-img poster lazyloaded"
          data-src="https://image.tmdb.org/t/p/w500/sdJcX2cXirwQurLLlrDLYov7hcD.jpg"
          data-expand="1000"
          alt="Futurama"
          src="https://image.tmdb.org/t/p/w500/sdJcX2cXirwQurLLlrDLYov7hcD.jpg"
        />
      </div>
    </div>
  </div>
</div>

<style>
  .page {
    display: flex;
    width: 100vw;
    height: calc(100vh - 20px);
  }

  .main-content {
    background-color: #2e3440;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 10px;
    width: 100vw;
  }

  .grid {
    display: grid;
    gap: 0.75rem;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    margin-top: 10px;
    height: fit-content;
    max-width: 1200px;
  }

  .poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }

  .card-img {
    border-radius: 5px;
  }

  .sidebar {
    justify-content: start;
    background-color: #2e3440;
    box-sizing: border-box;
    display: flex;
    border-radius: 10px;
    margin: 10px;
    margin-right: 0px;
  }

  a {
    color: lightgrey;
    text-decoration: none;
    font-size: 1.5rem;
    align-items: center;
    display: flex;
  }

  li {
    list-style: none;
    text-align: center;
    display: flex;
    margin: 20px;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  .material-symbols-outlined {
    font-size: 30px;
    margin-right: 0.5em;
  }

  @media screen and (max-width: 600px) {
    .grid {
      grid-template-columns: repeat(3, 1fr);
      margin-left: 10px;
      margin-right: 10px;
    }
    .page {
      flex-direction: column;
      width: calc(100vw - 20px);
    }
    .sidebar {
      margin-right: 10px;
      margin-bottom: 0px;
      justify-content: center;
    }
    .main-content {
      width: calc(100vw - 40px);
    }
  }

  @media screen and (min-width: 601px) {
    .grid {
      grid-template-columns: repeat(3, 1fr);
      margin-left: 10px;
      margin-right: 10px;
    }
    .page {
      flex-direction: row;
    }
  }

  @media screen and (min-width: 768px) {
    .grid {
      grid-template-columns: repeat(5, 1fr);
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  @media screen and (min-width: 992px) {
    .grid {
      grid-template-columns: repeat(6, 1fr);
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  @media screen and (min-width: 1200px) {
    .grid {
      grid-template-columns: repeat(8, 1fr);
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  @media screen and (min-width: 1420px) {
    .grid {
      grid-template-columns: repeat(8, 1fr);
      margin-left: auto;
      margin-right: auto;
    }
  }
</style>
