<div class="container">
  <h1>Giji Harem</h1>
  <p>
    Eiji Kitahama joins the drama club with dreams of having a harem like the
    ones from his favorite manga. Rin Nanakura, an underclassman, finds herself
    crushing hard on Eiji and tries on different personas in his presence to win
    him over. No matter how she acts, one thing is certain—her feelings for Eiji
    continue to grow stronger. Will she ever be able to tell him the truth and
    be herself?
  </p>
</div>

<style>
  .container {
    display: flex;
    width: 100%;
    display: flex;
    background-color: #2e3440;
    border-radius: 10px;
    flex-direction: column;
    height: 270px;
  }
  .container img {
    border-radius: 10px;
    margin: 10px;
  }
  .container h1 {
    height: fit-content;
    justify-content: center;
    width: 100%;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
  }
  .container p {
    margin: 10px;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    height: 100%;
  }
</style>
