<div class="sidebar">
  <ul class="sidebar-links">
    <li>
      <a href="#">
        <span class="material-symbols-outlined">dashboard</span>Dashboard
      </a>
    </li>

    <li>
      <a href="#">
        <span class="material-symbols-outlined">tv</span>TV
      </a>
    </li>

    <li>
      <a href="#">
        <span class="material-symbols-outlined">movie</span>Movies
      </a>
    </li>

    <li>
      <a href="#">
        <span class="material-symbols-outlined">a</span>Anime
      </a>
    </li>

    <li>
      <a href="#">
        <span class="material-symbols-outlined">book</span>Manga
      </a>
    </li>

    <li>
      <a href="#">
        <span class="material-symbols-outlined"></span>
      </a>
    </li>

    <li>
      <a href="#">
        <span class="material-symbols-outlined">book</span>Profile
      </a>
    </li>

    <li>
      <a href="#">
        <span class="material-symbols-outlined">book</span>Settings
      </a>
    </li>
  </ul>
</div>

<style>
  .sidebar {
    height: 100vh;
    width: 300px;
    background-color: #2e3440;
    display: flex;
    border-radius: 10px;
  }
</style>
