<link
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
  rel="stylesheet"
/>

<div class="sidebar">
  <ul class="sidebar-links">
    <li>
      <a href="#">
        <i class="material-symbols-outlined">home</i>Home
      </a>
    </li>

    <li>
      <a href="#">
        <i class="material-symbols-outlined">tv</i>TV
      </a>
    </li>

    <li>
      <a href="#">
        <i class="material-symbols-outlined">movie</i>Movies
      </a>
    </li>

    <li>
      <a href="#">
        <i class="material-symbols-outlined">subscriptions</i>Anime
      </a>
    </li>

    <li>
      <a href="#">
        <i class="material-symbols-outlined">book</i>Manga
      </a>
    </li>

    <li>
      <a href="#">
        <i class="material-symbols-outlined">sports_esports</i>Games
      </a>
    </li>

    <li>
      <a href="#">
        <i class="material-symbols-outlined">book</i>Profile
      </a>
    </li>

    <li>
      <a href="#">
        <i class="material-symbols-outlined">settings</i>Settings
      </a>
    </li>
  </ul>
</div>

<style>
  .sidebar {
    justify-content: start;
    background-color: #2e3440;
    box-sizing: border-box;
    display: flex;
    border-radius: 10px;
    margin: 10px;
    margin-right: 0px;
  }

  a {
    color: lightgrey;
    text-decoration: none;
    font-size: 1.5rem;
    align-items: center;
    display: flex;
  }

  li {
    list-style: none;
    text-align: center;
    display: flex;
    margin: 20px;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  .material-symbols-outlined {
    font-size: 30px;
    margin-right: 0.5em;
  }

  @media screen and (max-width: 600px) {
  }

  @media screen and (min-width: 601px) {
  }
</style>
