<div class="container">
  <img
    src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx163623-pzR6vIHoJh0b.jpg"
    alt="banner"
    height="250"
    width="150"
  />
</div>

<style>
  .container {
    display: flex;
    width: fit-content;
    height: fit-content;
    display: flex;
    background-color: #2e3440;
    border-radius: 10px;
  }
  .container img {
    border-radius: 10px;
    margin: 10px;
  }
</style>
