<div class="container">
  <h3>Related</h3>
  <img
    src="https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx105577-rPJMdZLpfU7E.jpg"
    alt="related"
    width="120"
    height="160"
  />
</div>

<style>
  .container {
    display: flex;
    width: 100%;
    display: flex;
    background-color: #2e3440;
    border-radius: 10px;
    flex-direction: column;
    height: 320px;
  }
  .container img {
    border-radius: 10px;
    margin: 10px;
  }
  .container h3 {
    height: fit-content;
    justify-content: center;
    width: 100%;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
  }
</style>
